---
import Layout from '@layouts/Layout.astro';

const lang = 'en' as const;
---

<Layout lang={lang}>
  <div id="update-root"></div>
</Layout>

<script>
  import { createElement } from 'react';
  import { createRoot } from 'react-dom/client';
  import PasswordUpdateForm from '@components/PasswordUpdateForm';

  const root = createRoot(document.getElementById('update-root')!);
  root.render(createElement(PasswordUpdateForm, { lang: 'en' }));
</script>
