---
import Layout from '@layouts/Layout.astro';

const lang = 'es' as const;
---

<Layout lang={lang}>
  <div id="reset-root"></div>
</Layout>

<script>
  import { createElement } from 'react';
  import { createRoot } from 'react-dom/client';
  import PasswordResetForm from '@components/PasswordResetForm';

  const root = createRoot(document.getElementById('reset-root')!);
  root.render(createElement(PasswordResetForm, { lang: 'es' }));
</script>
